/* style.css (main부터 서브페이지 전체) */

/*pc*/
/* main_visual_PC (1920px) */

/*----visual영역----*/

::-webkit-scrollbar {width:6px;}
::-webkit-scrollbar-track {background-color:#fff;}
::-webkit-scrollbar-thumb {background-color:#000;}

.loading {
    width:100%;
    height:100%;
    position: fixed;
    background:#363636;
    z-index: 1000;
    
    color:#fff;
    font-family: 'notokr-regular';
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#about {
    width: 100%;
    height: 100vh;
}
#about h2 {
    font-size:40px;
    font-weight: bold;
    font-family: notokr-bold;
    text-align: center;
    padding: 70px 0;
    position: relative;
}
#about h2 span {
    background-color: #ffe2de;
    width:145px;
    height:10px;
    bottom:78px;
    z-index: -1;
    margin-left:-3px;
    position: absolute;
}
#about .left{
    width:50%;
    float:left;
    border:0px solid red;
    text-align: center;
}
#about .left img{
    margin-top :10%;
}
#about .right{
    width:50%;
    float:right;
    border:0px solid blue;
}
#about .right dl{
    padding-left:10%;
    margin-bottom:6.6%;
}
#about .right dl dt{
    position:relative;
    padding-top: 1.85%;
    margin-bottom: 0.9%;
    font-size:30px;
    font-family: notokr-medium;
}
#about .right dl dt:nth-child(1){
    padding-left:12px;
}
#about .right dl dt span {
    background-color: #8e8e8e;
    width:5px;
    height:36px;
    left:0px;
    position:absolute;
}
#about .right dl dd{
    font-size:20px;
    font-family: notokr-regular;
    text-indent: 18px;
}
#about .right dl dd::before{
    content: "";
    width: 4px;
    height: 1px;
    background-color: #000;
    margin-top:17px;
    display: block;
    position: absolute;
}
#about .right dl:nth-child(2) dd:nth-child(3)::before,
#about .right dl:nth-child(2) dd:nth-child(4)::before,
#about .right dl:nth-child(2) dd:nth-child(6)::before	{
	opacity: 0;
}


#skills {
    width:100%;
    height:100vh;
    background-color: #f5f5f5;
    position:relative;
}
#skills h2 {
    font-size:40px;
    font-weight: bold;
    font-family: notokr-bold;
    text-align: center;
    padding: 70px 0;
    position: relative;
    z-index: 3;
}
#skills h2 span {
    background-color: #ffcdc8;
    width:145px;
    height:10px;
    bottom:78px;
    z-index: -1;
    margin-left:-3px;
    position: absolute;
}
#skills .charts{
    margin-top:5%;
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#skills .charts img {
    width:120px;
    position:absolute;
    display:flex;
    margin-top:95px;
    margin-left:115px;
}
#skills .charts #psai img {
    width:150px;
    margin-top:145px;
    margin-left:100px;
}
#skills .charts #jquery img {
    width:170px;
    margin-top:95px;
    margin-left:85px;
}
#skills #psai{
    width:350px;
    height:350px;
}
#skills #html{
    width:350px;
    height:350px;
}
#skills #css{
    width:350px;
    height:350px;
}
#skills #jquery{
    width:350px;
    height:350px;
}
#skills .txt_group{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top:700px;
    text-align: center;
}
#skills .charts_txt h3 {
    font-size:34px;
    font-family: notokr-Bold;
}
#skills .charts_txt p {
    width:350px;
    font-family: 'notokr-regular';
    font-size:18px;
}

#portfolio {
    width:100%;
    height:100vh;
}
#portfolio h2 {
    font-size:40px;
    font-weight: bold;
    font-family: notokr-bold;
    text-align: center;
    padding: 70px 0;
    position: relative;
    z-index: 3;
}
#portfolio h2 span {
    background-color: #ffe2de;
    width:235px;
    height:10px;
    bottom:78px;
    z-index: -1;
    margin-left:-3px;
    position: absolute;
}
#portfolio .inner {position: relative;}

#portfolio .inner ul{
    display: flex;
    justify-content: center;
}
#portfolio .inner ul li {
    display: inline-block;
    margin-right:50px;
}
#portfolio .inner ul li a{
    font-size: 26px;
    font-family: notokr-regular;
}
#portfolio .inner ul li a::after{
    content: "";
    width:1px;
    height:25px;
    background-color: #afafaf;
    top:8px;
    margin-left: 28px;
    position: absolute;
}
#portfolio .inner ul li:last-child a:last-child::after {
    content: none;
}
#portfolio .right {
    width:50%;
    height:100%;
    padding:250px 0 0 15%;
    float:right;
}
#portfolio .right h1 {
    font-size:32px;
    font-family: notokr-medium;
    margin-bottom: 65px;
}
#portfolio .right .tool {
    font-size:22px;
    font-family: notokr-regular;
    margin-bottom: 65px;
}
#portfolio .right .tool p:first-child{
    font-family: 'notokr-medium';
}
#portfolio .right .view_site button {
    border: 1px solid #ffaea5;
    color:#ffaea5;
    font-size:20px;
    font-family: notokr-light;
    padding : 10px 140px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
#portfolio .right .view_site button:hover {
    background-color: #ffaea5;
    color:#fff;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
#portfolio .left{
    width:50%;
    height:100%;
    float:left;
    text-align: center;
}
#portfolio .left img {
    margin-top:150px;
    margin-left: 10%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 50px;
    width: 60%;
    font-family: 'notokr-regular';
    font-size:20px;

}
.content{
    background-color: #fefefe;
    margin: 0 auto;
    padding: 50px;
    width: 60%;
    height:100%;
    overflow:scroll;
    font-family: 'notokr-regular';
    font-size:20px;

}
.modal-content::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 5px;
}
.modal-content::-webkit-scrollbar-track{
    background-color: #fff;
}
.modal-content h3 {
    font-family: 'notokr-medium';
    font-size:28px;
}
.modal-content span#color { color:#ffaea5; }
.modal-content span {
    color:#000; 
    font-size: 22px;
    font-family: 'notokr-medium';
}
.modal-content span a {font-size:30px;}
.modal-content button {
    border: 1px solid #ffaea5;
    color:#ffaea5;
    font-size:20px;
    font-family: notokr-light;
    padding : 10px 140px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.modal-content button:hover {
    background-color: #ffaea5;
    color:#fff;
    
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.modal-content button#myBtn2 { padding : 10px 115px; }
.modal-content a {
    font-family: 'notokr-regular';
    font-size:20px;
    color:#000;
}
.modal-content .img {
    width:100%;
    height:100%;
}
.modal-content .line {
    display: flex;
	align-items: center;
	margin: 30px 0px;
    font-size:22px;
    font-family: 'notokr-medium';
}
.modal-content .line::before,
.modal-content .line::after {
    content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
} 
.close {
    width:20px;
    height: 20px;
    color: #000;
    float: right;
    margin:-40px -20px 0 0;
    font-size: 40px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#contact {
    width:100%;
    height:100vh;
    background-color: #f5f5f5;
    position:relative;
}
#contact h2 {
    font-size:40px;
    font-weight: bold;
    font-family: notokr-bold;
    text-align: center;
    padding: 70px 0;
    position: relative;
    z-index: 3;
}
#contact h2 span {
    background-color: #ffcdc8;
    width:195px;
    height:10px;
    bottom:78px;
    z-index: -1;
    margin-left:-3px;
    position: absolute;
}
#contact img {
    width:100px;
    margin-right: 20px;
}
#contact ul {margin-top: 150px;}
#contact ul li {
    margin-bottom: 30px;
    line-height: 100px;
    text-indent:40%;
    font-family: 'notokr-regular';
    font-size: 26px;
}
#contact ul li a {
    font-family: 'notokr-regular';
    font-size: 26px;
}

/* 반응형 */
@media all and (min-width:800px) and (max-width:1399px){
    #about {
        width: 100%;
        height: 1300px;
    }
    #about .left{
        width:100%;
        border:0px solid red;
    }
    #about .left img{
        width:20%;
        margin:0 auto;
    }
    #about .right{
        width:100%;
        border:0px solid blue;
    }
    #about .right dl{
        padding-left:10%;
        margin-top:8%;
        float:left;
    }
    #about .right dl dt{
        position:relative;
        padding-top: 1.85%;
        margin-bottom: 0.9%;
        font-size:30px;
        font-family: notokr-medium;
    }
    #about .right dl dt:nth-child(1){
        padding-left:12px;
    }
    #about .right dl dt span {
        background-color: #8e8e8e;
        width:5px;
        height:36px;
        left:0px;
        position:absolute;
    }
    #about .right dl dd{
        font-size:20px;
        font-family: notokr-regular;
        text-indent: 18px;
    }
    #about .right dl dd::before{
        content: "";
        width: 4px;
        height: 1px;
        background-color: #000;
        margin-top:17px;
        display: block;
        position: absolute;
    }
    #about .right dl:nth-child(2) dd:nth-child(3)::before,
    #about .right dl:nth-child(2) dd:nth-child(4)::before,
    #about .right dl:nth-child(2) dd:nth-child(6)::before	{
        opacity: 0;
    }
}
@media all and (max-width:1000px){
    #portfolio .inner ul li a{
        font-size: 20px;
        font-family: notokr-regular;
        margin-left:-30px;
    }
    #portfolio .inner ul li a::after{
        content: "";
        width:1px;
        height:22px;
        background-color: #afafaf;
        top:3px;
        margin-left: 10px;
        position: absolute;
    }
    #portfolio .right {
        width:50%;
        height:100%;
        padding:150px 0 0 10%;
        float:right;
    }
    #portfolio .right h1 {
        font-size:28px;
        font-family: notokr-medium;
        margin-bottom: 6%;
    }
    #portfolio .right .tool {
        font-size:20px;
        font-family: notokr-regular;
        margin-bottom: 10%;
    }
    #portfolio .right .view_site a {
        border: 1px solid #ffaea5;
        color:#ffaea5;
        font-size:18px;
        font-family: notokr-light;
        padding : 10px 120px;
        text-align: center;
    }
    #portfolio .right .view_site a:hover {
        background-color: #ffaea5;
        color:#fff;
        
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }
    #portfolio .left{
        width:50%;
        height:100%;
        float:left;
        text-align: center;
    }
    #portfolio .left img {
        margin-right:10%;
        margin-top:150px;
    }

    
    #contact img {
        width:90px;
        margin-right: 20px;
    }
    #contact ul {margin-top: 150px;}
    #contact ul li {
        margin-bottom: 30px;
        line-height: 100px;
        text-indent:30%;
        font-family: 'notokr-regular';
        font-size: 22px;
    }
    #contact ul li a {
        font-family: 'notokr-regular';
        font-size: 22px;
    }
}

@media all and (max-width:799px){
    #portfolio {
        width:100%;
        height:1300px;
    }
    #portfolio .inner {position: relative;}

    #portfolio .inner ul{
        display: flex;
        justify-content:center;
        margin-left:60px;
    }
    #portfolio .inner ul li {
        display: inline-block;
        margin-right:50px;
    }
    #portfolio .right {
        width:100%;
        height:100%;
        float:left;
    }
    #portfolio .right h1 {
        font-size:28px;
        font-family: notokr-medium;
        margin-bottom: 3%;
    }
    #portfolio .right .tool {
        font-size:22px;
        font-family: notokr-regular;
        margin-bottom: 6%;
    }
    #portfolio .right .view_site a {
        border: 1px solid #ffaea5;
        color:#ffaea5;
        font-size:20px;
        font-family: notokr-light;
        padding : 10px 140px;
        text-align: center;
    }
    #portfolio .right .view_site a:hover {
        background-color: #ffaea5;
        color:#fff;
        
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }
    #portfolio .left{
        width:90%;
        height:100%;
        float:left;
        text-align: center;
    }
    #portfolio .left img {
        margin-right:15%;
        margin-top:10px;
        margin-bottom:-60px;
    }
}

@media all and (min-width:300px) and (max-width:798px) {
    #about {
        width: 100%;
        height: 1300px;
    }
    #about .left{
        width:100%;
    }
    #about .left img{
        width:50%;
        margin:0 auto;
    }
    #about .right{
        width:100%;
        border:0px solid blue;
    }
    #about .right dl{
        padding-left:10%;
        margin-top:8%;
        float:left;
    }
    #about .right dl dt{
        position:relative;
        padding-top: 1.85%;
        margin-bottom: 0.9%;
        font-size:30px;
        font-family: notokr-medium;
    }
    #about .right dl dt:nth-child(1){
        padding-left:12px;
    }
    #about .right dl dt span {
        background-color: #8e8e8e;
        width:5px;
        height:36px;
        left:0px;
        position:absolute;
    }
    #about .right dl dd{
        font-size:20px;
        font-family: notokr-regular;
        text-indent: 18px;
    }
    #about .right dl dd::before{
        content: "";
        width: 4px;
        height: 1px;
        background-color: #000;
        margin-top:17px;
        display: block;
        position: absolute;
    }
    #about .right dl:nth-child(2) dd:nth-child(3)::before,
    #about .right dl:nth-child(2) dd:nth-child(4)::before,
    #about .right dl:nth-child(2) dd:nth-child(6)::before	{
        opacity: 0;
    }

    #portfolio h2 {
        font-size:40px;
        font-weight: bold;
        font-family: notokr-bold;
        text-align: center;
        padding: 50px 0;
        position: relative;
        z-index: 3;
    }
    #portfolio h2 span {
        background-color: #ffe2de;
        width:235px;
        height:10px;
        bottom:58px;
        z-index: -1;
        margin-left:-3px;
        position: absolute;
    }
    #portfolio {
        width:100%;
        height:1200px;
    }
    #portfolio .inner {position: relative;}

    #portfolio .inner ul{
        display: flex;
        justify-content:center;
        margin-left:70px;
        display:block;
    }
    #portfolio .inner ul li {
        display: inline-block;
        margin-right:50px;
    }
    #portfolio .right {
        width:100%;
        height:100%;
        float:left;
        margin-left: 15%;
    }
    #portfolio .right h1 {
        font-size:28px;
        font-family: notokr-medium;
        margin-bottom: 3%;
    }
    #portfolio .right .tool {
        font-size:22px;
        font-family: notokr-regular;
        margin-bottom: 6%;
    }
    #portfolio .right .view_site a {
        border: 1px solid #ffaea5;
        color:#ffaea5;
        font-size:20px;
        font-family: notokr-light;
        padding : 10px 140px;
        text-align: center;
    }
    #portfolio .right .view_site a:hover {
        background-color: #ffaea5;
        color:#fff;
        
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }
    #portfolio .left{
        width:90%;
        height:100%;
        float:left;
        text-align: center;
    }
    #portfolio .left img {
        margin-right:15%;
        margin-top:15%;
        margin-bottom:-90px;
    }

    
    #contact img {
        width:90px;
        margin-right: 20px;
    }
    #contact ul {margin-top: 150px;}
    #contact ul li {
        margin-bottom: 30px;
        line-height: 100px;
        text-indent:20%;
        font-family: 'notokr-regular';
        font-size: 20px;
    }
    #contact ul li a {
        font-family: 'notokr-regular';
        font-size: 20px;
    }
}

/*차트 반응형*/
@media all and (max-width:1399px) {
    #skills {height:1300px;}
    #skills h2 {
        font-size:40px;
        font-weight: bold;
        font-family: notokr-bold;
        text-align: center;
        padding: 50px 0;
        position: relative;
        z-index: 3;
    }
    #skills h2 span {
        background-color: #ffcdc8;
        width:145px;
        height:10px;
        bottom:58px;
        z-index: -1;
        margin-left:-3px;
        position: absolute;
    }
    #skills .charts{
        margin-top:5%;
        width:100%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #skills .charts #jquery{margin-top: 200px;}
    #skills .charts img {
        width:120px;
        position:absolute;
        display:flex;
        margin-top:95px;
        margin-left:115px;
    }
    #skills .charts #psai img {
        width:150px;
        margin-top:145px;
        margin-left:100px;
    }
    #skills .charts #jquery img {
        width:170px;
        margin-top:95px;
        margin-left:85px;
    }
    #skills .txt_group{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        top:630px;
        text-align: center;
    }
    #skills .charts_txt {
        margin-bottom:350px;
    }
    #skills .charts_txt h3 {
        font-size:34px;
        font-family: notokr-Bold;
    }
    #skills .charts_txt p {
        width:350px;
    }
}

@media all and (max-width:1049px){
    #skills {height:1300px;}
    #skills h2 {
        font-size:40px;
        font-weight: bold;
        font-family: notokr-bold;
        text-align: center;
        padding: 50px 0;
        position: relative;
        z-index: 3;
    }
    #skills h2 span {
        background-color: #ffcdc8;
        width:145px;
        height:10px;
        bottom:58px;
        z-index: -1;
        margin-left:-3px;
        position: absolute;
    }
    #skills .charts{
        margin-top:5%;
        width:100%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #skills .charts #jquery{margin-top: 200px;}
    #skills .charts #css{margin-top: 200px;}
    #skills .charts img {
        width:120px;
        position:absolute;
        display:flex;
        margin-top:95px;
        margin-left:115px;
    }
    #skills .charts #psai img {
        width:150px;
        margin-top:145px;
        margin-left:100px;
    }
    #skills .charts #jquery img {
        width:170px;
        margin-top:95px;
        margin-left:85px;
    }
    #skills .txt_group{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        top:600px;
        text-align: center;
    }
    #skills .charts_txt {
        margin-bottom:350px;
    }
    #skills .charts_txt h3 {
        font-size:34px;
        font-family: notokr-Bold;
    }
    #skills .charts_txt p {
        width:350px;
    }
}

@media all and (max-width:699px) {
    #skills {height:2250px;}
    #skills h2 {
        font-size:40px;
        font-weight: bold;
        font-family: notokr-bold;
        text-align: center;
        padding: 50px 0;
        position: relative;
        z-index: 3;
    }
    #skills h2 span {
        background-color: #ffcdc8;
        width:145px;
        height:10px;
        bottom:58px;
        z-index: -1;
        margin-left:-3px;
        position: absolute;
    }
    #skills .charts{
        margin-top:5%;
        width:100%;
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #skills .charts #html{margin-top:150px;}
    #skills .charts #jquery{margin-top: 150px;}
    #skills .charts #css{margin-top: 150px;}
    #skills .charts img {
        width:120px;
        position:absolute;
        display:flex;
        margin-top:95px;
        margin-left:115px;
    }
    #skills .charts #psai img {
        width:150px;
        margin-top:145px;
        margin-left:100px;
    }
    #skills .charts #jquery img {
        width:170px;
        margin-top:95px;
        margin-left:85px;
    }
    #skills .txt_group{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        top:540px;
        text-align: center;
    }
    #skills .charts_txt {
        margin-bottom:350px;
    }
    #skills .charts_txt h3 {
        font-size:34px;
        font-family: notokr-Bold;
    }
    #skills .charts_txt p {
        width:350px;
    }
    
    #portfolio h2 {
        font-size:40px;
        font-weight: bold;
        font-family: notokr-bold;
        text-align: center;
        padding: 50px 0;
        position: relative;
        z-index: 3;
    }
    #portfolio h2 span {
        background-color: #ffe2de;
        width:235px;
        height:10px;
        bottom:58px;
        z-index: -1;
        margin-left:-3px;
        position: absolute;
    }
    #portfolio {
        width:100%;
        height:1200px;
    }
    #portfolio .inner {position: relative;}

    #portfolio .inner ul{
        display: flex;
        justify-content:center;
        margin-left:70px;
        display:block;
    }
    #portfolio .inner ul li {
        display: inline-block;
        margin-right:50px;
    }
    #portfolio .inner ul li a::after{
        content: " ";
        width:1px;
        height:25px;
        background-color: #afafaf;
        top:8px;
        margin-left: 10px;
        position: absolute;
        white-space: pre;
    }
    #portfolio .inner ul li:last-child a:last-child::after {
        content: none;
    }
    #portfolio .right {
        width:100%;
        height:100%;
        float:left;
        margin-left: 15%;
    }
    #portfolio .right h1 {
        font-size:28px;
        font-family: notokr-medium;
        margin-bottom: 3%;
    }
    #portfolio .right .tool {
        font-size:22px;
        font-family: notokr-regular;
        margin-bottom: 6%;
    }
    #portfolio .right .view_site a {
        border: 1px solid #ffaea5;
        color:#ffaea5;
        font-size:20px;
        font-family: notokr-light;
        padding : 10px 140px;
        text-align: center;
    }
    #portfolio .right .view_site a:hover {
        background-color: #ffaea5;
        color:#fff;
        
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
    }
    #portfolio .left{
        width:90%;
        height:100%;
        float:left;
        text-align: center;
    }
    #portfolio .left img {
        margin-top:30%;
        margin-bottom:-90px;
    }
}