@font-face {
    font-family: 'notokr-black';
    src: url('../font/NotoKR-Black/notokr-black.eot');
    src: url('../font/NotoKR-Black/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-Black/notokr-black.woff2') format('woff2'),
         url('../font/NotoKR-Black/notokr-black.woff') format('woff'),
         url('../font/NotoKR-Black/notokr-black.ttf') format('truetype'),
         url('../font/NotoKR-Black/notokr-black.svg#notokr-black') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-bold';
    src: url('../font/NotoKR-Bold/notokr-bold.eot');
    src: url('../font/NotoKR-Bold/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-Bold/notokr-bold.woff2') format('woff2'),
         url('../font/NotoKR-Bold/notokr-bold.woff') format('woff'),
         url('../font/NotoKR-Bold/notokr-bold.ttf') format('truetype'),
         url('../font/NotoKR-Bold/notokr-bold.svg#notokr-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-demilight';
    src: url('../font/NotoKR-DemiLight/notokr-demilight.eot');
    src: url('../font/NotoKR-DemiLight/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-DemiLight/notokr-demilight.woff2') format('woff2'),
         url('../font/NotoKR-DemiLight/notokr-demilight.woff') format('woff'),
         url('../font/NotoKR-DemiLight/notokr-demilight.ttf') format('truetype'),
         url('../font/NotoKR-DemiLight/notokr-demilight.svg#notokr-demilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-light';
    src: url('../font/NotoKR-Light/notokr-light.eot');
    src: url('../font/NotoKR-Light/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-Light/notokr-light.woff2') format('woff2'),
         url('../font/NotoKR-Light/notokr-light.woff') format('woff'),
         url('../font/NotoKR-Light/notokr-light.ttf') format('truetype'),
         url('../font/NotoKR-Light/notokr-light.svg#notokr-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-medium';
    src: url('../font/NotoKR-Medium/notokr-medium.eot');
    src: url('../font/NotoKR-Medium/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-Medium/notokr-medium.woff2') format('woff2'),
         url('../font/NotoKR-Medium/notokr-medium.woff') format('woff'),
         url('../font/NotoKR-Medium/notokr-medium.ttf') format('truetype'),
         url('../font/NotoKR-Medium/notokr-medium.svg#notokr-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-regular';
    src: url('../font/NotoKR-Regular/notokr-regular.eot');
    src: url('../font/NotoKR-Regular/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-Regular/notokr-regular.woff2') format('woff2'),
         url('../font/NotoKR-Regular/notokr-regular.woff') format('woff'),
         url('../font/NotoKR-Regular/notokr-regular.ttf') format('truetype'),
         url('../font/NotoKR-Regular/notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'notokr-thin';
    src: url('../font/NotoKR-Thin/notokr-thin.eot');
    src: url('../font/NotoKR-Thin/notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('../font/NotoKR-Thin/notokr-thin.woff2') format('woff2'),
         url('../font/NotoKR-Thin/notokr-thin.woff') format('woff'),
         url('../font/NotoKR-Thin/notokr-thin.ttf') format('truetype'),
         url('../font/NotoKR-Thin/notokr-thin.svg#notokr-thin') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body, main { height:100%; }
body { 
	font-size:100%;
	color:#333;
	font-family:"맑은 고딕",돋움,Dotum,굴림,Gulim,sans-serif;
	line-height:1.5;
}
a {
	font-size:0.75em;
	color:#666;
	font-family:"맑은 고딕",돋움,Dotum,굴림,Gulim,sans-serif;
	text-decoration:none;
}
img, video { max-width:100%; vertical-align:top; }
input, select { vertical-align:bottom; }


#visual .menuBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    top: 30px;
    right: 30px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
    z-index: 100;
    cursor: pointer;
}

#visual .menuBtn span {
    position: absolute;
    right:14px;
    width:20px;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    transition: 0.2s;
    margin-top:13px;
}
#visual .menu_icon span:nth-child(1){top:0;}
#visual .menu_icon span:nth-child(2){top:10px;}
#visual .menu_icon span:nth-child(3){top:10px;}
#visual .menu_icon span:nth-child(4){top:20px;}

#visual .menuBtn.active span:nth-child(1),
#visual .menuBtn.active span:nth-child(4){opacity: 0;}
#visual .menuBtn.active span:nth-child(2){
    transform: rotate(45deg);
}
#visual .menuBtn.active span:nth-child(3){
    transform: rotate(-45deg);
}

#visual .menuwrap {
    position: fixed;
    top: 0;
    right:0;
    z-index:7;
    overflow: auto;
    width: 300px;
    height: 100vh;
    visibility: hidden;
    background-color: #fff;
    padding: 50px 20px;
    transition: right .0.5s ease-in-out;
}
#visual .menuwrap nav ul li a {
    font-size: 20px;
    font-family: 'notokr-medium';
    opacity: 0.75;
    transition: opacity 0.2s ease;
}
#visual .menuwrap nav ul li a:hover { opacity: 1; }

@keyframes fadeInRight {
    0% { opacity: 0; transform: translateX(-25%);}
    100% { opacity: 1; transform: translateX(0); }
}

#visual .menuwrap.visible {
    opacity: 85;
    visibility: visible;
}
#visual .menuwrap.visible nav ul li a {
    animation:fadeInRight 0.3s ease forwards;
}
#visual .menuwrap.visible nav ul li:nth-child(1) { animation-delay: 0.23s; }
#visual .menuwrap.visible nav ul li:nth-child(2) { animation-delay: 0.26s; }
#visual .menuwrap.visible nav ul li:nth-child(3) { animation-delay: 0.29s; }
#visual .menuwrap.visible nav ul li:nth-child(4) { animation-delay: 0.32s; }
#visual .menuwrap.visible nav ul li:nth-child(5) { animation-delay: 0.35s; }

#visual .inner{
    width:100%; height:100vh;
    background-color:#f5f5f5;
    border:0px solid red;
}
#visual .inner .white_box{
    padding:200px 0px 0px 320px;
}
#visual .inner .intro {
    position: absolute;
    left:31%;
    top:35%;
}
#visual .inner .intro h1{
    font-size: 44px;
    font-family: notokr-bold;
}
#visual .inner .intro h2{
    font-size: 40px;
    font-family: notokr-medium;
    color: #4a4a4a;
}
#visual .inner .mail a{
    position: absolute;
    right:160px;
    bottom:80px;
    font-size: 20px;
    color:#4a4a4a;
    font-family: notokr-regular;
}

#footer {
    width:100%;
    height:120px;
    background-color: #555867;
}
#footer .inner p{
    font-size:18px;
    font-family: 'notokr-regular';
    color:#fff;
    text-align: center;
    padding-top: 35px;
}


@media all and (min-width:300px) and (max-width:798px) {
    #visual .inner .intro h1{
        font-size: 30px;
        font-family: notokr-bold;
    }
    #visual .inner .intro h2{
        font-size: 28px;
        font-family: notokr-medium;
        color: #4a4a4a;
    }
    #visual .inner .mail a{
        position: absolute;
        right:50px;
        bottom:80px;
        font-size: 16px;
        color:#4a4a4a;
        font-family: notokr-regular;
    }
    #footer {
        width:100%;
        height:100px;
        background-color: #555867;
    }
    #footer .inner p{
        font-size:10px;
        font-family: 'notokr-regular';
        color:#fff;
        text-align: center;
        padding-top: 35px;
    }
}
